{% macro render() %}
{%- if page.comment !== false %}
  {%- if is_post() !== false %}
    <div id="webmentions"></div>
  {%- endif %}
  <div class="wrap" id="comments"></div>
  <script>
    let fun = () => console.log('Let me sleep for a while 🤡');
    let sleep = function(fun,time){
      setTimeout(()=>{
        fun();
      },time);
    }
    sleep(fun,1000);
    (function (webmentionContext) {

    const url = window.location.href;
    const webmentionBaseUrl = "https://webmention.io"

    webmentionContext.webmentionsPromise = fetch(webmentionBaseUrl + "/api/mentions.jf2?target=" + encodeURIComponent(url))
        .then(function (response) {
            console.log('🥸🤡 Webmention is ready.');
            return response.json();
        })
        .catch(function (ex) {
            console.error('Oh😭WebMentionERROR!!!' + ex);
        });
})(window.webmentionContext);
    window.addEventListener('load', function () {
    const webmentionsPromise = window.webmentionContext.webmentionsPromise;
    let html = '';
    webmentionsPromise && webmentionsPromise
        .then(function (data) {
            
            const distinctMentions = [
                ...new Map(data.children.map((item) => [item.author.url, item])).values()].sort((a, b) => new Date(a['wm-received']) - new Date(b['wm-received']));

            html += `<div className="webmention-avatars">`;
            distinctMentions.forEach(function (reply) {
                html += `<a class="avatar-wrapper" href=${reply.author.url} key=${reply.author.name}><image class="wm-avatar" loading="lazy" src=${reply.author.photo != "" ? reply.author.photo: "/img/avatar.png"} data-nimg="fill" sizes="(max-width: 768px) 100vw,(max-width: 1200px) 50vw, 33vw"/></a>`;
            });
            html += `</div>`;
            document.querySelector('#webmentions').innerHTML = html;
        })
        .catch(function (ex) {
            console.error('Oh😭WebMentionERROR!!!' + ex);
        });
});
  </script>
{%- endif %}
{% endmacro %}
