{% macro render() %}
{%- if ( page.comment !== false ) and ( theme.valine.enable !== false ) %}
  <div class="wrap" id="comments"></div>
{%- elif ( page.comment !== false ) and ( theme.twikoo.enable !== false ) %}
  <div id="tcomment"></div>
{%- endif %}
{% endmacro %}
