{% macro render() %}
{%- if page.comment !== false %}
  {%- if is_post() !== false %}
    <div id="webmentions"></div>
  {%- endif %}
  <div class="wrap" id="comments"></div>
  <script>
    let fun = () => console.log('Let me sleep for a while 🤡');
    let sleep = function(fun,time){
      setTimeout(()=>{
        fun();
      },time);
    }
    sleep(fun,1000);
    
    let html = '';
    const webmentionsPromise = fetch("https://webmention.io/api/mentions.jf2?target=" + encodeURIComponent(window.location.href))
      .then(function (response) {
          console.log('🥸🤡 Webmention is ready.');
          return response.json();
      })
      .catch(function (e) {
          console.error(e);
      });
    html += `<div className="webmention-avatars">`;
    webmentionsPromise.children.forEach(function (reply) {
      html += `<a class="avatar-wrapper" href=${reply.author.url} key=${reply.author.name}><image class="wm-avatar" loading="lazy" src=${reply.author.photo != "" ? reply.author.photo: "https://gravatar.loli.net/avatar/72bb6865ec4888f0d8949b71dea2137d?size=80&d=mp"} data-nimg="fill" sizes="(max-width: 768px) 100vw,(max-width: 1200px) 50vw, 33vw"/></a>`;
    });
    html += `</div>`;
    document.querySelector('#webmentions').innerHTML = html;
  </script>
{%- endif %}
{% endmacro %}
